#battle-game .selected {
  display: none;
}
td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
#battle-game {
  width: 1200px;
}
#battle-game h1 {
  margin-left: 450px;
}
#battle-game #madness {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#battle-game #second-madness {
  width: 560px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 25px;
  margin: 5px;
}
#battle-game #messages-container,
#battle-game #scores-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
#battle-game #active-games-container,
#battle-game #open-games-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}
#battle-game #active-games-container {
  width: 500px;
  height: 400px;
  padding: 5px;
}
#battle-game #open-games-container {
  width: 500px;
  height: 400px;
  padding: 5px;
}
#battle-game #game-control {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  width: 500px;
  padding: 5px;
  margin: 5px;
}
#battle-game #start-form {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
#battle-game #start-form h1 {
  margin-left: 0;
}
#battle-game #start-form span {
  display: block;
  font-weight: bold;
}
#battle-game #start-form span:hover {
  text-decoration: underline;
  cursor: pointer;
}
#battle-game #start-form #register-span {
  display: none;
}
#battle-game #start-form input {
  display: block;
  margin: 5px auto;
}
#battle-game #start-form #error {
  color: red;
  display: inline-block;
  width: 200px;
}
