<div id="create-appointment">
<fieldset>
    <legend>Create new appointment</legend>
    <label for="tb-subject">Subject</label>
    <input data-bind="value: subject" type="text" id="tb-subject" />
    <label for="tb-appointmentDate">Date</label>
    <input data-role="datepicker" data-bind="value: appointmentDate" type="text" id="tb-appointmentDate" />
    <label for="tb-duration">Duration</label>
    <input data-bind="value: duration" type="text" id="tb-duration" />
    <label for="tb-description">Description</label>
    <input data-bind="value: description" type="text" id="tb-description" />
    <button data-bind="click: submit">Create</button>
</fieldset>
</div>