<nav>
    <ul id="main-menu">
        <li>
            Appointments
            <ul>
                <li>
                    <a href='#/newappointment'>Create</a>
                </li>
                <li>
                    <a href='#/allappointments'>All</a>
                </li>
                <li>
                    <a href='#/commingappointments'>Comming</a>
                </li>
                <li>
                    <a href='#/bydateappointments'>Date</a>
                </li>
                 <li>
                    <a href='#/todayappointments'>Today</a>
                </li>
                <li>
                    <a href='#/currentappointments'>Current</a>
                </li>
            </ul>
        </li>
        <li>
            ToDos
            <ul>
                <li>
                    <a href='#/createtodolist'>Create</a>
                </li>
                <li>
                    <a href='#/allliststodos'>All</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
